@tailwind base;
@tailwind components;
@tailwind utilities;

 html {
  background-color: #efeff4;
  font-size: 15px;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue', Arial, sans-serif;
}

::selection,
::-webkit-selection {
    background-color: rgba(0, 0, 0, 0.15);
}

#opened {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0 16px;
  /* background: linear-gradient(
          rgba(0, 0, 0, 0) 100%,
          transparent 100%
      ),
      url(./blue_aka.png);
  background-size: cover;
  background-position: center; */
}

#bg,
#overlay {
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
}

#bg {
  object-fit: cover;
  object-position: center;
}

#overlay {
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.15);
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 100%;
  max-width: 640px;
  height: 100vh;
  margin: 0 auto;
}

#time {
  z-index: 0;
  left: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 120px;
  /* font-variant-numeric: tabular-nums; */
  font-weight: 600;
  opacity: 0.9;
  color: #fff;
  user-select: none;
  /* text-shadow: 0 8px 32px rgba(255, 255, 255, 0.375);
  text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      -1px -1px 0 #000; */
}

#search {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 56px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px) saturate(150%) brightness(1.1);
  border-radius: 8px;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.0875),
      0 4px 16px rgba(0, 0, 0, 0.0875),
      0 8px 32px rgba(0, 0, 0, 0.0875); */
  overflow: hidden;
}
#search::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

#search svg {
  width: 24px;
  height: 24px;
}

#search > .input {
  display: flex;
  flex: 1;
  height: inherit;
  font-weight: 400;
  padding: 0;
  color: currentColor;
  appearance: none;
  font-size: 20px;
  background-color: transparent;
  border: 0;
  outline: none;
  user-select: none;
}

#search > .input::placeholder {
  color: #fff;
  font-weight: 400;
}

#search > .submit {
  appearance: none;
  width: 56px;
  height: 56px;
  padding: 0;
  color: currentColor;
  background-color: transparent;
  border: 0;
  outline: none;
  transition:
      color 0.15s ease-out,
      background-color 0.15s ease-out;
  cursor: pointer;
}

#search > .submit:hover,
#search > .submit:focus {
  /* color: rgb(0, 123, 255); */
  background-color: rgba(255, 255, 255, 0.25);
}

#status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  width: 100%;
  color: #fff;
  transform: translateY(-16px);
  user-select: none;
}

.status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.-custom-scrollbar::-webkit-scrollbar {
  width: 0.75vw;
  background-color: transparent;
}

.-custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.375);
  border-radius: 99px;
}

/* #suggestion::-webkit-scrollbar-thumb */

.suggest {
  width: 100%;
  color: #fff;
  font-size: 21px;
  font-weight: 400;
  text-decoration: none;
  gap: 4px;
  padding: 8px 8px;
  border-radius: inherit;
  outline: none;
  transition:
      background-color 0.12s ease-out,
      border-color 0.12s ease-out;
  cursor: pointer;
}

.suggest:hover,
.suggest:focus {
  background-color: rgba(255, 255, 255, 0.125);
}

.suggest:hover {
  border-color: rgba(255, 255, 255, 0.25);
}

.suggest:focus {
  border-color: #fff;
}

#engine {
  position: relative;
  margin-top: 64px;
  margin-bottom: 128px;
}

#pin {
  display: flex;
  gap: 12px;
  margin-top: 12px;
  user-select: none;
}

#pin > a,
#pin > button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 44px;
  height: 44px;
  padding: 8px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px) saturate(150%) brightness(1.1);
  transition: all 0.1s ease-out;
}

#pin > a:hover,
#pin > button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#pin > a:focus,
#pin > a:focus {
  outline-color: #fff;
  outline-offset: 4px;
  outline-width: 1px;
  /* background-color: rgba(255, 255, 255, 0.125); */
}

.input-search-element {
  position: relative;
  aspect-ratio: 1;
  height: 100%;
}
.input-search-element-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transition {
  transition: opacity 0.15s ease-out, transform 0.15s ease-out;
}
.fade-out-up {
  opacity: 0;
  transform: translateY(-16px);
}
.fade-out-down {
  opacity: 0;
  transform: translateY(16px);
}